<!doctype html>
<title>Hazmat Lookup Tool</title>
<section class="form">
    <form method="post">
        <h2>Packaging regulations lookup</h2>
        <label for="un_id">UN ID</label>
        <input name="un_id" id="un_id" required><br><br>
        <label for="bulk">Bulk Packaging?</label>
        <input type="checkbox" name="bulk" id="bulk">
        <h3>Packing Group</h3>
        <input type="radio" id="I" name="packing-group" value="I">
        <label for="I">I</label><br><br>
        <input type="radio" id="II" name="packing-group" value="II">
        <label for="II">II</label><br>
        <input type="radio" id="III" name="packing-group" value="III">
        <label for="III">III</label><br>
        <h3>Mode of Transportation</h3>
        <input type="radio" id="road" name="transit-mode" value="road">
        <label for="road">Road</label><br>
        <input type="radio" id="air-cargo" name="transit-mode" value="air-cargo">
        <label for="air-cargo">Air Cargo</label><br>
        <input type="radio" id="passenger-air" name="transit-mode" value="passenger-air">
        <label for="passenger-air">Passenger Air</label><br>
        <input type="radio" id="rail" name="transit-mode" value="rail">
        <label for="rail">Rail</label><br><br>
        <input type="submit" value="Lookup"><br>
        
    </form>
    
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

</section>